<button class="btn btn-primary" (click)="onToggleParagraph()">Display Details</button>
<p *ngIf="showParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem nostrum unde sit aspernatur, eius ipsam eum consequuntur magnam repudiandae amet provident, soluta corporis sint vero totam inventore minima. Earum, minima!</p>
<div *ngFor="let click of buttonClicks" [ngStyle]="{backgroundColor: buttonClicks.length>=5?'blue':'transparent'}" [ngClass]="{'white-text': (buttonClicks.length+1)>=5}">
    {{click}}
</div>
