<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h1>Basic Assignment #3</h1>
    <ol>
        <li>Add a button which says "Display Details"</li>
        <li>Add a paragraph with any content of your choice (e.g. "Secret Password = tuna")</li>
        <li>Toggle the displaying of that paragpraph with the button</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph
            <br>(maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle) and white text color (via ngClass)</li>
    </ol>
</div>
<app-content></app-content>
